@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Rubik&display=swap');
:root {
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 70ch;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  border-left: 5px solid limegreen;
  padding-left: 1rem;
}
h2
{
  padding-left: 0.5em;
}
li:not(:last-child){
  margin-bottom: 0.5ch;
}

.code-text {
  background-color: rgb(209, 209, 209);
  padding: 0px 4px;
  border-radius: 4px;
}

@media only screen and (min-width: 600px){
  body{
    display: flex;
    justify-content: center;
  }
}